entrypoint = "main.py"
modules = ["python-3.11:v14-20231207-2f65342"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"
packages = ["freetype", "gdb", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "zlib"]

[unitTest]
language = "python3"

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Web Assistant"

[[workflows.workflow]]
name = "Architecture Assistant"
author = 40913427
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[workflows.workflow]]
name = "Web Assistant"
author = 40913427
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[ports]]
localPort = 5000
externalPort = 80
